.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

.logo{
    padding: 8px 16px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.login-signup button{
    border-radius: 4px;
    border: 1px solid gray;
    padding: 8px 16px;
    margin: 8px;
    cursor: pointer;
}

.signup-button{
    background-color: #247F9E;
    color: white;
}

.login-button{
    background-color: transparent;
}

.logout-button{
    border-radius: 4px;
    border: 1px solid gray;
    padding: 8px 16px;
    margin: 8px;
    background-color: transparent;
    cursor: pointer;
}

.header-group > i{
    padding-left: 8px;
    padding-right: 6px;
}

.header-group{
    display: flex;
    align-items: center;
}

.profile-icon-container {
    background: #eaedf3;
    border: 1px solid lightgray;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}