.profile-container {
    display: inline-flex;
    margin-left: 15%;
}

.profile-reservation {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 48px;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

.profile-reservation-text {
    display: flex;
    flex-direction: column;
}

.reservation-img {
    border-radius: 4px;
    height: 150px;
    width: 150px;
    margin-right: 32px;
}

.profile-reservation-restaurant {
    font-weight: 700;
    font-size: 18px;
}

.reservations-list-header {
    font-size: 24px;
    margin-left: 48px;
}

.reservations-list-empty {
    margin: 16px 0px 16px 48px;

}

.fa-circle-check {
    color: green;
    padding-right: 8px;
}

.reservation-completed {
    display: flex;
    padding: 8px 0px;
}

.reservation-info > li {
    display: flex;
    margin-bottom: 8px;
}

.reservation-info > li > i {
    margin-right: 8px;
}

.profile-reservation-size > div, .profile-reservation-date > div {
    margin-left: 2px;
}

.profile-links {
    margin-left: 32px;
}

.profile-links > li {
    margin-top: 24px;
}

.profile-links > li > a {
    text-decoration: none;
    color: #da3743;
}

.profile-links > li > a:hover {
    font-weight: bolder;
}

.current-page-link {
    font-weight: bolder;
}

.profile-favorite {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 48px;
    padding: 16px;
    width: 100%;
}

.profile-favorite-text {
    display: flex;
    flex-direction: column;
}

.profile-favorite-restaurant {
    font-weight: 700;
    font-size: 18px;
}

#profile-bookmark {

    color: #da3743;
}

.favorite-info > li {
    margin-bottom: 8px;
}

.remove-favorite {
    display: flex;
    color: #666666;
    cursor: pointer;
}

.remove-favorite > i {
    margin-right: 8px;
}

.remove-favorite:hover {
    font-weight: bolder;
}

.favorites-list-header {
    font-size: 24px;
    margin-left: 48px;
}

.no-favorites {
    margin-left: 48px;
    margin-top: 16px;
}

.profile-favorite-button {
    background-color: #da3743;
    color: white;
    border-radius: 4px;
    border: 1px solid lightgray;
    cursor: pointer;
    width: 180px;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
}