.review-ratings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-ratings-container h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.review-ratings {
    display: flex;
    flex-direction: column;
}

.review-category {
    display: flex;
    flex-direction: row;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.review-category-name {
    width: 120px;
}


.review-ratings .star {
    width: 16px;
    height: 15px;
    transform: scale(2.0);
    margin: 0px 10px;
}

input[type=radio].star-radio {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.rating-container > label {
    float: right;
    cursor: pointer;
    fill: red;
    opacity: 50%;
}

.rating-container:not(:hover) > input:checked ~ label {
    fill: red;
    opacity: 100%;  
}

.rating-container:hover > label:hover,
.rating-container:hover > label:hover ~ label {
    fill: red;
    opacity: 100%;
}


.review-text {
    border: 1px solid lightgray;
    border-radius: 4px;
    font: inherit;
    margin-top: 16px;
    height: 300px;
    width: 500px;
    padding: 8px 8px;
}

.submit-review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.submit-review-button a {
    text-decoration: none;
    margin-left: 8px;
    color: #da3743;
}

.submit-review-button a:hover {
    font-weight: bolder;
}

.submit-review-button button {
    background-color: #da3743;
    color: white;
    border-radius: 4px;
    border: 1px solid lightgray;
    cursor: pointer;
    width: 120px;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
}

.error {
    color: #da3743;
    font-size: 12px;
    margin-left: 109px;
}

.body-error {
    color: #da3743;
    font-size: 12px;
    margin-top: 4px;
}