.search-bar{
    background: linear-gradient(#1a0a47cc, #0d1b4599);
    color: white;
    display: flex;
    justify-content: center;
    padding: 48px 0px;
    font-size: 28px;
    font-weight: 700;

}